<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tmpProduct of products">
            <td class="align-middle">
                <img src="{{tmpProduct.imageUrl}}" height="50" />
            </td>
            <td class="align-middle">{{tmpProduct.name}}</td>
            <td class="align-middle">{{tmpProduct.unitPrice | currency:"USD"}}</td>
            <td class="align-middle">{{tmpProduct.unitsInStock}}</td>

        </tr>
        
    </tbody>
</table>

