<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!--loop over the collection of products-->
                <div *ngFor="let tmpProduct of products" class="col-md-3">

                    <div class="product-box">
                        <img src="{{tmpProduct.imageUrl}}" class="img-responsive">
                        <h1>{{tmpProduct.name}}</h1>
                        <div class="price">{{tmpProduct.unitPrice | currency:"USD"}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>

                <!--if products empty then display a message-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    Oops! Chef Blue hasn't made any of those yet!
                </div>
            </div>
        </div>
    </div>
</div>