<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>
            <div *ngIf="orderHistoryList.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Order Tracking Number</th>
                        <th width="10%">Total Price</th>
                        <th width="10%">Total Quantity</th>
                        <th width="10%">Date</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let tmpOrderHistory of orderHistoryList">
                            <td>{{tmpOrderHistory.orderTrackingNumber}}</td>
                            <td>{{tmpOrderHistory.totalPrice | currency: 'USD'}}</td>
                            <td>{{tmpOrderHistory.totalQuantity}}</td>
                            <td>{{tmpOrderHistory.dateCreated | date: 'medium'}}</td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>

            <!--empty order history-->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders found.
            </div>
        </div>
    </div>
</div>
